@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

/* App.js */
.lightmode{
    background-color :hsl(231, 91%, 78%) ;
    color: black;
}
.darkmode{
    background-color: #8459d4;
    color: white;
}
.darkcolor{
    color: white;
}
.lightcolor{
    color: #000000;
}
.mainCardDarkMode{

    background: linear-gradient(0deg, rgba(201,201,201,1) 0%, rgba(255,255,255,0) 0%, rgba(82,0,255,1) 56%);
}
.mainCardLightMode{
background: linear-gradient(0deg, rgba(201,201,201,1) 0%, rgba(255,255,255,0) 0%, rgba(207,201,222,1) 45%);
}
.filtericonlight{
    filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(183deg) brightness(97%) contrast(100%);
}
.filtericonblack{
filter: invert(0%) sepia(12%) saturate(1703%) hue-rotate(201deg) brightness(95%) contrast(105%);
}
h1{
    font-size: rem;
}



::-webkit-scrollbar {
    width: 4px;
    
  }
  

  
  ::-webkit-scrollbar-thumb {
    /* background-color: #68686893; */
    border-radius: 10px;
    border: 3px solid #6d6d6d;
  }
  .rightDisplay::-webkit-scrollbar{
    width: 0px;
  }

